{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes",
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "reflex": "./dist/reflex"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "reflex": "./src/reflex"
            }
          }
        ]
      ]
    }
  }
}
