{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "preval",
    "macros",
    "lodash",
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "gymnast": "./dist/gymnast"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "gymnast": "./src/gymnast"
            }
          }
        ]
      ]
    }
  }
}
