{
  "extends": [
      "airbnb",
      "prettier",
      "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "15.5" // React version, default to the latest React stable release
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0
  }
}
