.DS_Store
node_modules/
dist/
coverage/
yarn-error.log
docs/
test/screenshot/images/diffs
test/screenshot/images/results
tests_output/
selenium-server-standalone-*
selenium-debug.log
nohup.out
temp.png
*.swp
