@import "../variables.css";

.root {
  padding: 0 calc(var(--page-margin) - var(--gutter) / 2);
}

@media screen and (max-width: 599px) {
  /**
  * We want Grid items to not be concerned about the page gutters so that they keep working with:
  *
  *   var(--gutter) / 2 (12px)
  *
  * Since we want 8px page margins on small layouts, we increase the overall page width which is
  * at 100% to 100% + 4px * 2. 4px are derived from:
  *
  *   var(--gutter / 2) - var(--small-page-margin) = 12px - 8px = 4px
  *
  * Because .root is centered, and with no horizontal overflow we end with 8px margin
  */
  .root {
    overflow: hidden;
    padding: 0;
  }

  .root > div {
    flex-shrink: 0;
    width: calc(100% + ((var(--gutter) / 2) - var(--small-page-margin)) * 2);
  }
}
