.page {
  position: absolute;
  top: 0;
  line-height: 1;

  & p,
  & ul,
  & li {
    margin: 0;
    padding: 0;
  }
}

.isCI > * {
  max-height: 859px;
}

.isCI * {
  color: transparent !important;
}
