@import "./variables.css";

body {
  margin: 0;
  padding: 50px 0;
}

* {
  font-weight: 100;
  font-family: Geometria, Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: left;
}

ul {
  margin: 0;
  padding: 20px;
}

li {
  font-size: 12px;
  margin-bottom: 5px;
  list-style: none;
  text-align: left;
}

input,
button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
}

input {
  outline: 1px solid var(--axonBlack);
  border: 0;
  padding: 12px;
}

button {
  border-radius: 0;
  border: 0;
  color: var(--axonBlack);
  background-color: var(--axonGold);
}

.box1,
.box2,
.box3,
.box4 {
  cursor: default;
}

.colors1,
.box1 {
  color: var(--axonGold);
  background-color: var(--axonBlack);
}

.colors2,
.box2 {
  color: var(--bolt);
  background-color: var(--nomuraGray);
}

.colors3,
.box3 {
  color: var(--axonBlack);
  background-color: var(--axonGold);
}

.colors4,
.box4 {
  color: var(--nomuraGray);
  background-color: var(--bolt);
}

.block {
  composes: colors2;
  height: 15px;
  width: 15px;
  min-height: 15px;
}

.image {
  composes: colors4;
  height: 100px;
  width: 100%;
}

.paginationArrow {
  composes: colors2;
  padding: '5px 10px';
}
