:root {
  --axonBlack: #1d1f21;
  --axonGold: #ffd700;
  --bolt: #1469cc;
  --nomuraGray: #efefef;
  --white: #ffffff;
}

@font-face {
  font-family: 'Geometria';
  src: url('https://xflex.github.io/xflex/fonts/Geometria-Light.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}
