@import "./variables.css";

body {
  margin: 0;
  padding: 50px 0 0 0;
}

* {
  font-weight: 100;
  font-family: Geometria, Arial, Helvetica, sans-serif;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin: 0 20px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 20px;
}

li {
  font-size: 12px;
  margin-bottom: 5px;
  list-style: none;
  text-align: left;
}

[class*=box] {
  cursor: default;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.box1 {
  color: var(--axonGold);
  background-color: var(--axonBlack);
}

.box2 {
  color: var(--bolt);
  background-color: var(--nomuraGray);
}

.box3 {
  color: var(--axonBlack);
  background-color: var(--axonGold);
}

.box4 {
  color: var(--nomuraGray);
  background-color: var(--bolt);
}
