@import "../core/variables.css";

.page {
  position: absolute;
  top: 0;

  & h1, & h2, & .nav > *, & .ads > * {
    margin: 10px;
  }

  /* header heights, hard coded offsets */

  & .main {
    margin-top: 57px;
  }

  &.hasSubheader .main {
    margin-top: 189px;
  }

  /* end of hard coded offsets */

  & .header, & .footer {
    color: var(--axonGold);
    background-color: var(--axonBlack);
  }

  & .nav {
    color: var(--nomuraGray);
    background-color: var(--bolt);
  }

  & .subheader, & .content {
    color: var(--bolt);
    background-color: var(--nomuraGray);
  }

  & .card {
    color: var(--axonBlack);
    background-color: white;
  }

  & .ads {
    color: var(--axonBlack);
    background-color: var(--axonGold);
  }

  & .top {
    padding-top: 48px;
    padding-bottom: 48px;
    color: var(--nomuraGray);
    background-color: var(--bolt);
  }
}
