@import './variables.css';

.twoSections {
  & h1, & h2, & .nav > *, & .content > *, & .ads > * {
    margin: 10px;
  }

  & input, & button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
  }

  & input {
    outline: 1px solid black;
    border: 0;
  }

  & button {
    border-radius: 0;
    border: 0;
    color: white;
    background-color: var(--deep-sea-green);
  }

  & .header, & .footer {
    color: var(--deep-sea-green);
    background-color: var(--primrose);
  }

  & .top {
    padding-top: 48px;
    padding-bottom: 48px;
    color: var(--primrose);
    background-color: var(--ming);
  }

  & .content {
    color: var(--deep-sea-green);
    background-color: var(--moss-green);
  }
}
