@import "./variables";

.base {
  border: 0 transparent solid;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  width: 100%;

  &:not(.col) {
    flex-grow: 1;
  }

  &.leftJustify {
    justify-content: flex-start;
    margin-right: auto;
  }

  &.centerJustify {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &.rightJustify {
    justify-content: flex-end;
    margin-left: auto;
  }

  &.topAlign {
    align-content: flex-start;
    align-items: flex-start;
  }

  &.centerAlign {
    align-content: center;
    align-items: center;
  }

  &.bottomAlign {
    align-content: flex-end;
    align-items: flex-end;
  }

  &.col-fit {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    white-space: nowrap;
  }

  &.col-auto {
    /* expanded shorthand for Edge */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%; /* % is required for Edge */
  }
}

@for $i from 1 to 12 {
  .col-$(i) {
    flex-basis: calc(($i / 12) * 100%);
    max-width: calc(($i / 12) * 100%);
  }
}

:global(.reflex-dev-mode) .base {
  position: relative;
  outline: 1px solid var(--nomuraGray);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
          90deg,
          transparent 1px,
          var(--axonBlack) 1px,
          transparent 2px
        )
        calc((1 / 11 * 100%) - 1px) 0px,
      transparent;
    background-size: calc(1 / 12 * 100% + 0.5px) 2px;
    background-repeat: repeat-x;
  }
}
