.grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 calc(-1 * var(--gutter) / 2);

  &.col-12.gridRoot {
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    min-width: var(--min-width);
  }
}

[class*=col-], .col {
  box-sizing: border-box;
  padding: 0 calc(var(--gutter) / 2) var(--vertical-gutter);
}

.col {
  flex: 1 1 0%;
}

.grid[class*=col-], .grid.col {
  margin: 0;
  padding: 0;
}

.noMargin {
  margin: 0;
}

.noMargin > [class*=col] {
  padding: 0;
}

.gridLeft {
  justify-content: flex-start;
  align-self: flex-start;
  margin-right: auto;
}

.gridCenter {
  justify-content: center;
}

.gridRight {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

.gridTop {
  align-content: flex-start;
  align-items: flex-start;
}

.gridMiddle {
  align-content: center;
  align-items: center;
}

.gridBottom {
  align-content: flex-end;
  align-items: flex-end;
}

.gridStretch > [class*=col] {
  display: flex;
  flex-wrap: wrap;
}

.gridStretch > [class*=col] > * {
  flex: 1 0 100%;
}

.noBottom > [class*=col] {
  padding-bottom: 0;
}

.colTop {
  align-self: flex-start;
}

.colMiddle {
  align-self: center;
}

.colBottom {
  align-self: flex-end;
}

@for $i from 1 to 12 {
  .col-$(i) {
    flex-basis: calc(($i / 12) * 100%);
    max-width: calc(($i / 12) * 100%);
  }
}

@for $i from 0 to 11 {
  .colOffset-$(i) {
    margin-left: calc($i / 12 * 100%);
  }
}
