.grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  &.gridRoot {
    padding-left: calc(var(--page-margin) - var(--gutter) / 2);
    padding-right: calc(var(--page-margin) - var(--gutter) / 2);
    min-width: var(--min-width);
  }
}

[class*=col-], .col {
  box-sizing: border-box;
  padding: 0 calc(var(--gutter) / 2) var(--vertical-gutter);
}

.col {
  flex: 1 1 0%;
}

.grid[class*=col-], .grid.col {
  margin: 0;
  padding: 0;
}

.gridMarginHorizontal,
.gridMarginHorizontalDouble,
.gridMarginHorizontalHalf,
.gridMarginNone,
.gridMarginVertical,
.gridMarginVerticalDouble,
.gridMarginVerticalHalf {
  margin: 0;

  & > [class*=col-], & > .col {
    padding: 0;
  }
}

.gridMarginHalf > [class*=col], .gridMarginHalf > .col {
  padding-left: calc(var(--gutter) / 4);
  padding-right: calc(var(--gutter) / 4);
  padding-bottom: calc(var(--vertical-gutter) / 2);
}

.gridMarginDouble > [class*=col], .gridMarginDouble > .col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-bottom: calc(var(--vertical-gutter) * 2);
}

.gridMarginHorizontal > [class*=col], .gridMarginHorizontalHalf > .col {
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.gridMarginHorizontalHalf > [class*=col], .gridMarginHorizontalHalf > .col {
  padding-left: calc(var(--gutter) / 4);
  padding-right: calc(var(--gutter) / 4);
}

.gridMarginHorizontalDouble > [class*=col], .gridMarginHorizontalDouble > .col {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.gridMarginVerticalHalf > [class*=col], .gridMarginVerticalHalf > .col {
  padding-bottom: calc(var(--gutter) / 2);
}

.gridMarginVertical {
  padding-bottom: var(--gutter);
}

.gridMarginVerticalDouble > [class*=col], .gridMarginVerticalDouble > .col {
  padding-bottom: calc(var(--gutter) * 2);
}

.gridLeft {
  justify-content: flex-start;
  align-self: flex-start;
  margin-right: auto;
}

.gridCenter {
  justify-content: center;
}

.gridRight {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

.gridTop {
  align-content: flex-start;
  align-items: flex-start;
}

.gridMiddle {
  align-content: center;
  align-items: center;
}

.gridBottom {
  align-content: flex-end;
  align-items: flex-end;
}

.gridStretch > [class*=col] {
  display: flex;
  flex-wrap: wrap;
}

.gridStretch > [class*=col] > * {
  flex: 1 0 100%;
}

.colTop {
  align-self: flex-start;
}

.colMiddle {
  align-self: center;
}

.colBottom {
  align-self: flex-end;
}

@for $i from 1 to 12 {
  .col-$(i) {
    flex-basis: calc(($i / 12) * 100%);
    max-width: calc(($i / 12) * 100%);
  }
}

@for $i from 0 to 11 {
  .colOffset-$(i) {
    margin-left: calc($i / 12 * 100%);
  }
}
