@import "./variables.css";

.col {
  box-sizing: border-box;

  &.col-fit {
    flex-basis: 0;
  }

  &.auto {
    flex: 1 1 0%;
  }

  &.top {
    align-self: flex-start;
  }

  &.middle {
    align-self: center;
  }

  &.bottom {
    align-self: flex-end;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}

@for $i from 1 to 12 {
  .col-$(i) {
    flex-basis: calc(($i / 12) * 100%);
    max-width: calc(($i / 12) * 100%);
  }
}

@for $i from 0 to 11 {
  .colOffset-$(i) {
    margin-left: calc($i / 12 * 100%);
  }
}
