.parent, .auto, .stretch {
  box-sizing: border-box;
  width: 100%;
}

.parent {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
}

.overflow {
  overflow-y: auto;
}

.auto {
  flex-grow: 0;
  flex-shrink: 0;
}

.stretch {
  flex-grow: 1;
}

.fixedTop {
  position: fixed;
  top: 0;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
}
