@import "./variables";

.layout {
  display: flex;
  align-self: flex-start;
  flex-flow: column;
  box-sizing: border-box;
  width: 100%;
}

.parent {
  flex-grow: 1;
  min-height: 100%;
}

.overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

.auto {
  flex-grow: 0;
  flex-shrink: 0;
}

.stretch {
  flex-grow: 1;
}

.fixedTop {
  position: fixed;
  top: 0;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
}

.layoutMarginNone {
  padding: 0;
}

.layoutMarginVerticalHalf {
  padding-top: calc(var(--gutter) / 2);
  padding-bottom: calc(var(--gutter) / 2);
}

.layoutMarginVerticalDouble {
  padding-top: calc(var(--gutter) * 2);
  padding-bottom: calc(var(--gutter) * 2);
}
