@import "./grid";

.layout {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  flex: 1;

  &.layoutAuto {
    flex: initial;
  }

  &.layoutStretch {
    height: 100%;
  }

  &.layoutFit {
    min-height: 100%;
  }

  & > .grid {
    max-width: var(--page-content-width);
  }

  & > * {
    flex: 1;
  }
}
