@import "./variables.css";

.padding {
  box-sizing: border-box;
  width: 100%;
}

.none {
  padding: 0;
}

.half {
  &.top {
    padding-top: calc(var(--vertical-gutter) / 2);
  }

  &.left {
    padding-left: calc(var(--gutter) / 2);
  }

  &.right {
    padding-right: calc(var(--gutter) / 2);
  }

  &.bottom {
    padding-bottom: calc(var(--vertical-gutter) / 2);
  }
}

.single {
  &.top {
    padding-top: var(--vertical-gutter);
  }

  &.left {
    padding-left: var(--gutter);
  }

  &.right {
    padding-right: var(--gutter);
  }

  &.bottom {
    padding-bottom: var(--vertical-gutter);
  }
}

.double {
  &.top {
    padding-top: calc(var(--vertical-gutter) * 2);
  }

  &.left {
    padding-left: calc(var(--gutter) * 2);
  }

  &.right {
    padding-right: calc(var(--gutter) * 2);
  }

  &.bottom {
    padding-bottom: calc(var(--vertical-gutter) * 2);
  }
}
