@import "./variables";

.noPadding {
  padding: 0;
}

.topHalfPadding {
  padding-top: calc(var(--vertical-gutter) / 2);
}

.leftHalfPadding {
  padding-left: calc(var(--gutter) / 2);
}

.rightHalfPadding {
  padding-right: calc(var(--gutter) / 2);
}

.bottomHalfPadding {
  padding-bottom: calc(var(--vertical-gutter) / 2);
}

.topSinglePadding {
  padding-top: var(--vertical-gutter);
}

.leftSinglePadding {
  padding-left: var(--gutter);
}

.rightSinglePadding {
  padding-right: var(--gutter);
}

.bottomSinglePadding {
  padding-bottom: var(--vertical-gutter);
}

.topDoublePadding {
  padding-top: calc(var(--vertical-gutter) * 2);
}

.leftDoublePadding {
  padding-left: calc(var(--gutter) * 2);
}

.rightDoublePadding {
  padding-right: calc(var(--gutter) * 2);
}

.bottomDoublePadding {
  padding-bottom: calc(var(--vertical-gutter) * 2);
}

.noMargin,
.topHalfMargin,
.leftHalfMargin,
.rightHalfMargin,
.bottomHalfMargin,
.topSingleMargin,
.leftSingleMargin,
.rightSingleMargin,
.bottomSingleMargin,
.topDoubleMargin,
.leftDoubleMargin,
.rightDoubleMargin,
.bottomDoubleMargin {
  border: 0 transparent solid;
}

.topHalfMargin {
  border-top-width: calc(var(--vertical-gutter) / 2);
}

.leftHalfMargin {
  border-left-width: calc(var(--gutter) / 2);
}

.rightHalfMargin {
  border-right-width: calc(var(--gutter) / 2);
}

.bottomHalfMargin {
  border-bottom-width: calc(var(--vertical-gutter) / 2);
}

.topSingleMargin {
  border-top-width: var(--vertical-gutter);
}

.leftSingleMargin {
  border-left-width: var(--gutter);
}

.rightSingleMargin {
  border-right-width: var(--gutter);
}

.bottomSingleMargin {
  border-bottom-width: var(--vertical-gutter);
}

.topDoubleMargin {
  border-top-width: calc(var(--vertical-gutter) * 2);
}

.leftDoubleMargin {
  border-left-width: calc(var(--gutter) * 2);
}

.rightDoubleMargin {
  border-right-width: calc(var(--gutter) * 2);
}

.bottomDoubleMargin {
  border-bottom-width: calc(var(--vertical-gutter) * 2);
}
