:root {
  --base: 8px;
  --gutter: calc(var(--base) * 3); /* 24px */
  --vertical-gutter: var(--gutter); /* 24px */
  --page-margin: calc(var(--base) * 6); /* 48px */
  --max-width: calc(var(--base) * 153); /* 1224px */
  --min-width: calc(var(--base) * 50); /* 400px */

  --page-content-width: calc(
    var(--max-width) - (var(--page-margin) - (var(--gutter) / 2)) * 2
  );
}
