@import "../../shared/variables.css";

.page {
  position: absolute;
  top: 0;

  & h2,
  & p {
    margin: 0;
  }

  & h1 {
    margin: 10px 0;
  }

  /* header heights, hard coded offsets */

  & .main {
    margin-top: 57px;
  }

  &.hasSubheader .main {
    margin-top: 173px;
  }

  /* end of hard coded offsets */

  & .subheader,
  & .content {
    color: var(--bolt);
    background-color: var(--nomuraGray);
  }

  & .top {
    padding-top: 48px;
    padding-bottom: 48px;
    color: var(--nomuraGray);
    background-color: var(--bolt);
  }
}
