@import "../../shared/variables.css";

/* header heights, hard coded offsets */
.reportMain {
  margin-top: 144px;
}
/* end of hard coded offsets */

li:nth-child(2n + 1) {
  color: var(--axonBlack);
  background-color: var(--white);
}

li:nth-child(2n) {
  color: var(--axonGold);
  background-color: var(--axonBlack);
}

li {
  display: block;
  width: calc(24px * 2);
  text-align: center;
}
